In [16]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

## Pengumpulan dan Analisis Data

In [17]:
# Memuat dataset stroke ke dalam DataFrame pandas
stroke_dataset = pd.read_csv('stroke.csv')

In [18]:
# Mencetak 10 baris pertama dari dataset
print(stroke_dataset.head(10))

      id  gender   age  hypertension  heart_disease ever_married  \
0   9046    Male  67.0             0              1          Yes
1  51676  Female  61.0             0              0          Yes
2  31112    Male  80.0             0              1          Yes
3  60182  Female  49.0             0              0          Yes
4   1665  Female  79.0             1              0          Yes
5  56669    Male  81.0             0              0          Yes
6  53882    Male  74.0             1              1          Yes
7  10434  Female  69.0             0              0           No
8  27419  Female  59.0             0              0          Yes
9  60491  Female  78.0             0              0          Yes

       work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0        Private          Urban             228.69  36.6  formerly smoked
1  Self-employed          Rural             202.21   NaN     never smoked
2        Private          Rural             105.92  32.5     never smoked
3        Private          Urban             171.23  34.4           smokes
4  Self-employed          Rural             174.12  24.0     never smoked
5        Private          Urban             186.21  29.0  formerly smoked
6        Private          Rural              70.09  27.4     never smoked
7        Private          Urban              94.39  22.8     never smoked
8        Private          Rural              76.15   NaN          Unknown
9        Private          Urban              58.57  24.2          Unknown

   stroke
0       1
1       1
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1

In [19]:
# Jumlah baris dan kolom dalam dataset
stroke_dataset.shape

(5110, 12)

In [20]:
# Mendapatkan ukuran statistik dari data
stroke_dataset.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [21]:
stroke_dataset['stroke'].value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

In [22]:
stroke_dataset.dtypes

id                     int64
gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object

In [23]:
stroke_dataset

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

## Cleaning data
Membersihkan data yang tidak diperlukan yaitu data gender, ever_married, work_type, Residence_type

In [24]:
# Menghapus data gender, work type, evver_married dan residence_type
data_cleaned = stroke_dataset.drop(columns=['gender', 'ever_married', 'work_type', 'Residence_type'])
print("Kolom setelah dibersihkan:")
print(data_cleaned.columns)

Kolom setelah dibersihkan:
Index(['id', 'age', 'hypertension', 'heart_disease', 'avg_glucose_level',
       'bmi', 'smoking_status', 'stroke'],
      dtype='object')

## Mengubah data smoking_status dari tipe object menjadi int

In [25]:
print("Nilai unik sebelum transformasi:")
print(stroke_dataset['smoking_status'].unique())

Nilai unik sebelum transformasi:
['formerly smoked' 'never smoked' 'smokes' 'Unknown']

In [26]:
smoking_status_map = {
    'never smoked': 0,
    'formerly smoked': 1,
    'smokes': 1,
    'Unknown': 2  # atau bisa juga diisi dengan nilai lain sesuai kebutuhan
}

In [27]:
stroke_dataset['smoking_status'] = stroke_dataset['smoking_status'].map(smoking_status_map)

In [28]:
print("Nilai unik setelah transformasi:")
print(stroke_dataset['smoking_status'].unique())

Nilai unik setelah transformasi:
[1 0 2]

In [29]:
stroke_dataset.to_csv('stroke_data_cleaned.csv', index=False)